.App {
  text-align: center;
  margin: 50px;
}
.button {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hover svg:hover path {
  fill: #ef5350 !important;
  fill-opacity: 1;
}
.hover1 svg:hover path {
  fill: #83d97c !important;
  fill-opacity: 1;
}
